openapi: 3.0.0
info:
  title: Recommendation System API
  description: API for the Recommendation System Backend
  version: 1.0.0
servers:
  - url: http://localhost:8080
    description: Local Development Server

paths:
  /vectorizeProduct:
    post:
      summary: Vectorize Product Description
      description: Accepts a product description and its vector, and saves it to S3.
      operationId: vectorizeProduct
      requestBody:
        description: Product description text and vector
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: The original text
                vector:
                  type: array
                  items:
                    type: number
                  description: The embedding vector
                imageUrl:
                  type: string
                  description: The URL of the product image
              required:
                - text
                - vector
      responses:
        '200':
          description: Vectorization successful
        '500':
          description: Internal Server Error

  /listVectors:
    get:
      summary: List Vectors
      description: Returns a list of all vectors
      operationId: listVectors
      responses:
        '200':
          description: A list of vectors
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    originalText:
                      type: string
                    imageUrl:
                      type: string
                    vector:
                      type: array
                      items:
                        type: number
        '500':
          description: Internal Server Error
